.navbar {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(130, 130, 175);
  padding: 8px;
  gap: 4px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tabs {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}