li {
    list-style-type: none;
}

.completed span {
    text-decoration: line-through;
    color: rgb(30, 30, 30);
    opacity: 0.7;
}

input[type="checkbox"] {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}