.buttonClearAll {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: rgb(195, 100, 100);
    border: none;
    cursor: pointer;
    color: white;
}

.buttonClearAll:hover {
    background-color: rgb(170, 80, 80);
    transform: scale(0.99);
}

.buttonClearAll:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}