li {
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.03);
}

li:hover {
    background: rgba(240, 240, 240, 0.9);
}

li label {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.completed span {
    text-decoration: line-through;
    color: rgb(30, 30, 30);
    opacity: 0.7;
}

input[type="checkbox"] {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}