.container {
    justify-self: center;
    align-self: flex-start;
    margin-top: 20px;
    background-color: #faf7f2;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    width: 45vw;
}