* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

body {
    height: 100vh;
    background-color: lightgray;
}

.app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100vw;
    gap: 10px;
}

.container {
    justify-self: center;
    align-self: center;
    background-color: #faf7f2;
    border-radius: 10px;
    min-width: 420px;
    padding: 18px;
}

.headerRow {
    display: flex;
    margin-bottom: 12px;
}

.titleBar {
    margin-bottom: 8px;
}